<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="facebook.com" class="text-decoration-none text-black" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.instagram.com/_kishanchauhan214?igsh=MTc2c2doNHgzYmN3dA==" class="text-decoration-none text-black" target="_blank"><i class="fa-brands fa-instagram" ></i></a>
      <a href="https://www.linkedin.com/in/kishan-chauhan-cs/" class="text-decoration-none text-black" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-info-brand"> &copy; WanderLust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy" class="p-2">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>